---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/0000000/feed?access_token=1517291225230751%7Co7NH0AUs5hiQRZpCTq2Q_9gZf0w&fields=attachments%7Bmedia,subattachments%7Bmedia%7D%7D,id,message,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: 0000000"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: 0000000","type":"OAuthException","code":803,"fbtrace_id":"GCgNOr01tsl"}}'
  recorded_at: Fri, 30 Oct 2015 06:57:52 GMT
recorded_with: VCR 2.9.3
