---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/817620721658179/feed?access_token=1517291225230751%7Co7NH0AUs5hiQRZpCTq2Q_9gZf0w&fields=attachments%7Bmedia,subattachments%7Bmedia%7D%7D,id,message,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"9345e69e2f24a7c9766b1eb671ae1717b3084b74"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"817620721658179_911104042309846","message":"\u300a\u4fbf\u5b9c\u8ce3!\u4fbf\u5b9c\u8ce3!\u300b\n\u300a\u7269\u54c1\u540d\u7a31\u300b
        \u2192Nike \u98a8\u8863\u5916\u5957\u7da0\u8272(\u5168\u65b0)\/\u9ed1\u8272\n\u300a\u5c3a\u5bf8\u300b
        \u2192 M\/L\n\u300a\u6240 \u5728 \u5730\u300b \u2192 \u6e05\u5927\n\u300a\u610f\u9858\u50f9\u683c\u300b
        \u21921600\/1300\n\u300a\u806f \u7d61 \u4eba\u300b \u2192 \u672c\u4eba(\u53ef\u79c1)\n\u300a\u88dc\u5145\u8aaa\u660e\u300b
        \u2192\u539f\u50f92680\uff0c\u6211\u8cb72400\uff0c\u7d50\u679c\u90fd\u6c92\u7a7f\uff0c\u6240\u4ee5\u4fbf\u5b9c\u8ce3\u6389(\u540a\u724c\u9084\u5728\u5594)\u3001\u53ef\u9762\u4ea4\u3001\u6b61\u8fce\u8a66\u7a7f:)","updated_time":"2015-10-29T15:24:18+0000","attachments":{"data":[{"subattachments":{"data":[{"media":{"image":{"height":720,"src":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xfl1\/v\/t1.0-9\/s720x720\/12065645_968222389900698_5020591783548135539_n.jpg?oh=8ffed42ad33da67d68f4a141c3c6bc74&oe=56B4FB82","width":540}}},{"media":{"image":{"height":720,"src":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xaf1\/v\/t1.0-9\/s720x720\/12193719_968222383234032_8678654566845389664_n.jpg?oh=cce2bf41ff5c807928ef84672f7681c7&oe=56CB9ED3","width":540}}}]}}]}},{"id":"817620721658179_910334532386797","message":"\u5c08\u79d1\u5316\u599d\u6c34\nNT$350\n\u300a\u7269\u54c1\u540d\u7a31\u300b
        \u2192 \u4fdd\u6fd5\u5c08\u79d1\u5316\u599d\u6c34\u300a\u6ecb\u6f64\u578b\u300b\n\u300a\u4f7f\u7528\u6b21\u6578.\u5e74\u5206\u300[...]
